<div class="row justify-content-center">
    <button mat-button class="mr-2">Pomodoro</button>
    <button mat-button class="mr-2">Short break</button>
    <button mat-button>Long break</button>
</div>
<div class="row justify-content-center mt-5">
    <h1>{{minutes}}:{{seconds}}</h1>
    <!-- <p><h1>{{minutes}}:{{seconds}}</h1></p> -->
</div>
<div class="row justify-content-center mt-5">
    <button mat-button class="mr-2">Start</button>
    <button mat-button class="mr-2">Stop</button>
    <button mat-button>Reset</button>
</div>
